<div class="mx-3">
  <%= form_with model: @task do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: 'form-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :details, class: 'form-label' %>
      <%= f.text_area :details, class: 'form-control' %>
   </div>
   <div class="field">
      <%= f.check_box :completed, class: 'form-control' %>
      <%= f.label :completed, class: 'form-label' %>
   </div>
   <div class="mb-3">
      <%= f.submit  class: 'btn btn-sm btn-primary' "edit" %>
    </div>
  <% end %>
</div>
